<h1>Animals</h1>

<table class="animal_table">
  <tr>
    <th>Name</th>
    <th>D.O.B</th>
    <th>Type</th>
    <th>Vet assigned to</th>
    <th>Owner</th>
    <th>Notes</th>
  </tr>
  <% for animal in @animals %>
  <tr>
    <td><a href="/animals/<%= animal.id %>"><%= animal.name %></a></td>
    <td><%= animal.d_o_b %></td>
    <td><%= animal.type %></td>
    <td><%= Vet.find(animal.vet_id).name %></td>
    <td><%= Owner.find(animal.owner_id).name %></td>
    <td><%= animal.notes %></td>
  </tr>
  <% end %>
</table>

<p><a href="/animals/new">Add an Animal</a></p>

<!-- You can't do for every animal in Animal.all? -->
