<h1>Animals belonging to <%= @vet.name %>:</h1>

  <% @vet.animals.each do |animal| %>
  <h3><%= animal.name %></h3>

  <ul>
  <li>D.O.B: <%= animal.d_o_b %></li>
  <li>Type: <%= animal.type %></li>
  <li>Owner: <%= animal.owner.name %></li>
  <li>Notes: <%= animal.notes %></li>
  </ul>
  <% end %>

<a href="/vets/<%= @vet.id %>/edit">Edit</a>

<form action="/vets/<%= @vet.id %>/delete" method="POST">
<input type="submit" value="Delete">
</form>
