<h1>Vet: <%= @vet.name %></h1>


  <% @vet.animals.each do |animal| %>
  <h3>Animal: <%= animal.name %></h3>

  <ul>
  <li>D.O.B. <%= animal.d_o_b %></li>
  <li>Type: <%= animal.type %></li>
  <li>Notes: <%= animal.notes %></li>
  <li>Owner name: <%= animal.owner.name %></li>
  <li>Animal name: <%= animal.vet.name %></li>
  </ul>
  <% end %>

  
