<h1>Owners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Pets</th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td><a href="/owners/<%= owner.id %>"><%= owner.name %></a></td>
    <td><%= owner.address %></td>
    <td><%= owner.phone %></td>
    <td><a href="/owners/<%= owner.id %>">pets</a></td>
  </tr>
  <% end %>
</table>

<p>
<a href="/owners/new">Add an Owner</a>
</p>
