<h1>Owner: <%= @owner.name %></h1>

<table class="owner_table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>
  <tr>
    <td><%= @owner.name %></td>
    <td><%= @owner.address %></td>
    <td><%= @owner.phone %></td>
  </tr>
</table>

<h1>Owner's animal(s)</h1>

<% @owner.animals.each do |animal| %>
<h3>Animal: <%= animal.name %></h3>

<ul>
<li><%= animal.d_o_b %></li>
<li><%= animal.type %></li>
<li><%= animal.notes %></li>
<li><%= animal.owner.name %></li>
<li><%= animal.vet.name %></li>
</ul>
<% end %>

<a href="/owners/<%= @owner.id %>/edit">Edit</a>

<form action="/owners/<%= @owner.id %>/delete" method="POST">
<input type="submit" value="Delete">
</form>
